* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
  display: flex;
}

header {
  background-color: hsl(0,0%,37%);
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: green;
  padding: 10px 10px 10px 50px;
}

.topnav {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.topnav a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  color: wheat;
  display: flex;
  flex-direction: column-reverse;
  }
  
.hero-image {
    background-image: url("pictures/greenwood.jpg");
    height: 10em;
    display: flex;
  }

.hero-text {
    padding: 10px;
    background-color: wheat;
    display: inline-flex;
    align-self: flex-end;
    margin: 0 0 20px 65rem;
  }

p {
    margin: 0;
    align-self: center;
  }

.container-aboutme {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-right: 2rem;
  font-size: xx-large;
  display: flex;
  text-align: right;
}

.grid-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.grid-item {
  display: grid;
  background-color: green;
  padding: 20px;
  color:wheat;
  text-align: center;
  margin: 10px;
  filter: brightness(50%);
}

.grid-item:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.text-on-picture {
  position: absolute;
  background-color: green;
  padding: 30px;
  display: flex;
  margin-top: 250px;
}

.grid-item:hover {
  filter: brightness(100%);
}



